@model IEnumerable<PracticaCore2DPR.Models.Libro>

@{
    ViewData["Title"] = "Carrito";
}

<h1>Carrito</h1>

@if (Model != null)
{

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idLibro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.editorial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.portada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.resumen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idGenero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idLibro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.editorial)
            </td>
            <td>
                <img style="height:300px; width:200px" src="~/images/@item.portada" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resumen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idGenero)
            </td>
            <td>
               <a class="btn btn-danger" asp-controller="Carrito" asp-action="Carrito" asp-route-actionString="eliminar" asp-route-idLibro="@item.idLibro">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-dark" asp-controller="Carrito" asp-action="FinalizarCompra">Finalizar Compra</a>
}else
            {
                <h1 class="text-muted">@ViewBag.mensaje</h1>
            }
